<!DOCTYPE html>
<html>
    <title>
        home
    </title>

    <head>
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>

    <body>

        <h1>Welcome</h1>
        <div class="div1">
            <div class="div2">
                <a href="login">
                    <button>
                        LOGIN
                    </button>
                </a>
                <br>
                <br>
                <a href="signup">
                    <button>
                        SIGN UP
                    </button>
                </a>
            </div>
        </div>

    </body>
    
</html>