<!DOCTYPE html>
<html>
<title>
    login
</title>

<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>

    <h1>
        login
    </h1>
    <div class="div1">
        <div class="div2">
            <form method="POST" action="/login">
                <input class="username" type="text" placeholder="username" name="username"><br><br>
                <input class="password" type="password" placeholder="password" name="password"><br><br>
                <a>
                    <button>
                        LOGIN
                    </button>
                </a>
                <br>
                <br>
            </form>
            <a href="signup">
                <button>
                    CREATE AN ACCOUNT
                </button>
            </a>
        </div>
    </div>


</body>


</html>